* {
    list-style: none;
}

body {
    background-color: #F7F7F4;
    font-family: SF Pro Text;
    overflow-x:hidden;
}

.section {
    display: flex;
    margin: 20px;
    padding: 20px;
}

.container {
    padding-left: 20px;
}

.img {
    margin-left: 125px;
    margin-top: 50px;
}

.level {
    background-color: white;
    border-radius: 30px;
    height: 997px;
    margin-right: 30px;
}

.data {
    margin: 40px 0px 0px 0px;
    padding: 10px 100px 10px 20px;
    justify-content: center;
    background-color: #f7dbcd;
    border-right: 3px solid #FD7B38;
    display: flex;
    align-items: center;
}

.dashbord {
    padding-top: 10px;
    margin-bottom: 10px;
}

label {
    margin-left: 20px;
}

.data1 {
    margin-top: 20px;
    margin-left: 30px;
    color: #65676D;
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 20px;
    margin: 20px 0px 0px 0px;

    /* justify-content: center; */
}

.card {
    display: flex;
    background-color: #F7F7F4;
    margin-top: 30px;
    padding-right: 5px;
}

.section_1 {
    background-color: white;
    /* margin-top: 30px; */
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 20px;
    padding-bottom: 20px;
    width: 356px;
    height: 400px;
}

.section_2 {
    background-color: white;
    /* margin-top: 30px; */
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 20px;
    padding-bottom: 20px;
    margin-left: 30px;
    width: 356px;
}

.section_3 {
    background-color: white;
    /* margin-top: 30px; */
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 20px;
    padding-bottom: 20px;
    margin-left: 30px;
    width: 356px;
}

.section_4 {
    background-color: white;
    /* margin-top: 30px; */
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 20px;
    padding-bottom: 20px;
    margin-top: -30px;
    width: 356px;

}
.section_5 {
    background-color: white;
    /* margin-top: 30px; */
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 20px;
    padding-bottom: 20px;
    margin-left: 30px;
    width: 356px;
}

.section_6 {
    background-color: white;
    /* margin-top: 30px; */
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 20px;
    padding-bottom: 20px;
    margin-left: 30px;
    width: 360px;
}

.img1 {
    height: 50px;
}

.tab {
    display: flex;
    font-size: 14px;
    gap: 60px;
    margin-top: -10px;
}

.tab1 {
    display: flex;
    font-size: 14px;
    gap: 20px;
}

.task {
    display: flex;
}

.card1 {
    background-color: white;
    border-radius: 20px;
    padding: 10px 0px 20px 20px;
    width: 1172px;
    display: flex;
    height: 30px;
}

.high {
    padding: 0px 6px 0px 7px;
    border: 1px solid #FF6C65;
    border-radius: 10px;
    margin-right: 20px;
    color: #FF6C65;
}

.high0 {
    padding: 0px 6px 0px 7px;
    border: 1px solid #60B158;
    border-radius: 10px;
    margin-right: 20px;
    color: #60B158;
}

.high1 {
    background-color: #E6F2FF;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    color: #007AFF;
}

.high01 {
    background-color: #FFF5E1;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    color: #FFA800;
}

.high2 {
    background-color: #f7dbcd;
    padding: 2px;
    border-radius: 10px;
    color: #FD7B38;
    width: 200px;
    text-align: center;
    font-weight: 600;
}

.high02 {
    background-color: #f7dbcd;
    padding: 2px;
    border-radius: 10px;
    color: #FD7B38;
    width: 200px;
    text-align: center;
    font-weight: 600;
}

.tips {
    margin-left: 800px;
}

.set1 {
    background-color: #F7F6F4;
    padding-left: 20px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    color: #65676D;
    display: flex;
    align-items: center;
    gap: 10px;
}

.set2 {
    display: flex;
    gap: 20px;
}

.profile {
    height: 10px;
}

.search {
    width: 30px;
    height: 30px;
}

.search p {
    color: #65676D;
}

.card2 {
    display: flex;
    margin-bottom: 15px;
}

.collection {
    width: 45px;
    height: 45px;
}

.des {
    margin-top: -15px;
    margin-left: 10px;
}

.subtitile {
    margin-top: -15px;
    color: #65676D;
}

.row {
    margin-left: 110px;
}

.pr {
    background-color: #F1F2F4;
    padding: 0px 6px 0px 7px;
    /* border: 1px solid #65676D ; */
    border-radius: 10px;
}

.pr1 {
    background-color: #F0F8EF;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    color: #60B158;

}

.pr01 {
    background-color: #F0F8EF;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    color: #60B158;

}

progress {
    height: 30px;
    width: 300px;
}

.images1 {
    margin-left: -21px;
}

.row2 {
    margin-left: 65px;
}

.pro {
    margin-top: -20px;
    color: #545DAD;
}

.pro1 {
    margin-top: -20px;
    color: #545DAD;
}



.card3 {
    display: flex;
    margin-bottom: 15px;
}

.plus {
    height: 20px;
    width: 20px;
    margin-top: 25px;
    margin-left: 230px;
}

.provide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #9e9fa1;
    color: #65676D;
    margin-left: -10px;
    margin-right: -10px;
}

.provide1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #9e9fa1;
    color: #000000;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -5px;
    border-left: 1px solid #FD7B38;
    background-color: #f7dbcd;
}

.provide2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #9e9fa1;
    color: #65676D;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -5px;
}

.d-flex {
    margin-left: 20px;
    display: flex;
    gap: 20px;
}

.d-flex1 {
    margin-left: 20px;
    display: flex;
    gap: 20px;
}

.d-flex2 {
    margin-left: 20px;
    margin-top: -6px;
    margin-bottom: -5px;
    display: flex;
    gap: 10px;
    color: #000000;
}

.d-flex1 img {
    height: 23px;
    width: 20px;
    margin-top: 15px;
}

.my_task {
    margin-left: -10px;
    margin-right: 10px;
}

.my_task1 {
    margin-left: -10px;
    margin-right: 10px;
    color: #000000;
    ;
}

.cal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.day {
    display: flex;
    margin-left: -40px;
    font-size: 15px;
    margin-top: 10px;
}

.date {
    margin-left: -15px;
}

li {
    margin-top: 20px;
    font-weight: 600;
    padding: 6.5px;
    text-align: center;
}

.col {
    color: #8e9097;
}

.col1 {
    color: #404245;
}

.col2 {
    color: #ffffff;
    background-color: #FD7B38;
    border-radius: 50%;
    border: 2px solid #FD7B38;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.play {
    height: 37px;
    margin-top: 25px;
    margin-left: 200px;
}

.pause {
    margin-right: 50px;
}

.msg {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

@media(max-width:320px) {
    .level {
        background-color: white;
        border-radius: 30px;
        margin-right: 20px;
        margin-left: -40px;
    }

    .img {
        margin-left: 101px;
        margin-top: 50px;
    }

    .card1 {
        flex-direction: column;
    }
}

@media(max-width:768px) {
body{
  overflow-x:hidden;
}
}